<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>hello</title>
</head>
<body>
<table>
    {% for item in items %}
        <tr>
            <td>{{ item }}</td>
        </tr>
    {% endfor %}
    <form name="input" action="/rb/update_db" method="get">
        <input type="submit" value="UpdateDB">
    </form>
        <form name="input" action="/rb/way1" method="get">
        <input type="submit" value="Way1">
    </form>
    <h3><li> {{status}} </li></h3>
</table>

</body>
</html>